! ---------------------------------------------------------------------------------------
! Rofi: A window switcher, run dialog and dmenu replacement
!
! Source: https://github.com/DaveDavenport/rofi
! Theme: https://github.com/bardisty/gruvbox-rofi
! Installation: echo "#import /path/to/file" >> ~/.Xresource && xrdb -merge ~/.Xresources
! Run: rofi -show drun
! ---------------------------------------------------------------------------------------

rofi.kb-cancel:         Escape,Control+bracketleft,Alt+space
rofi.modi:              drun,emoji:~/.bin/rofiemoji/rofiemoji.sh
rofi.lines:             8
rofi.width:             43
rofi.m:                 -6
rofi.line-margin:       4
rofi.show-icons:        false
rofi.theme:             /usr/share/rofi/themes/gruvbox-dark.rasi
rofi.font:              fira code 13
rofi.display-drun:
rofi.matching:          fuzzy
